<div class="add-task-form">
    <!-- Form for adding a new task -->
    <form (submit)="addTask()" class="add-task-form">
      <div class="form-group">
        <!-- Label for the task name input -->
        <label for="taskName">New task</label>
        <!-- Input field for entering the task name -->
        <input
          type="text"
          [(ngModel)]="newTask.name"
          name="taskName"
          required
          class="custom-input"
        />
      </div>
      <div class="form-group">
        <!-- Label for the priority select dropdown -->
        <label for="priority">Priority</label>
        <!-- Priority select dropdown -->
        <select [(ngModel)]="newTask.priority" id="priority" class="custom-input">
          <option value="Low">Low</option>
          <option value="Medium">Medium</option>
          <option value="High">High</option>
        </select>
      </div>
      <div class="form-group">
        <!-- Label for the due date input -->
        <label for="dueDate">Due Date</label>
        <!-- Input field for entering the due date -->
        <input
          type="date"
          [(ngModel)]="newTask.dueDate"
          id="dueDate"
          class="custom-input"
        />
      </div>
      <!-- Button to submit the form and add a new task -->
      <button type="submit" class="custom-add-button">
        <!-- Add an animation icon for styling -->
        <i class="animation"></i>Add Task<i class="animation"></i>
      </button>
    </form>
  </div>
  
